.calendar {
    font-family: Arial, sans-serif;
    background-color: #1A1A5C;
    padding: 10px;
    color: #fff;
    margin: 1rem 0;
    border-radius: 30px;
    overflow: hidden;
    max-width: 30rem;
    position: relative;
  }
  .calendar-container{
    padding-left: 4rem;
    padding-right: 1rem;
  }
@media screen and (max-width: 502px) and (min-width: 431px){

}
@media screen and (max-width: 430px){
  .calendar-container{
    padding-left: 4rem;
  }
  .day{
    font-size: 10px;
  }
  .week{
    font-size: 13px;
  }
  .month{
    font-size: 17px
  }
}
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .daysOfWeek {
    display: flex;
  }
  
  .daysOfWeek > div {
    width: 14.28%;
    text-align: center;
  }
  
  .week {
    display: flex;
  }
  
  .day {
    width: 14.28%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: .3s;
  }
  .day:hover{
    color: #fff;
    background-color: #FFA100;
    border-radius: 50px;
  }
  .current-day {
    background-color: #FFA100;
    border-radius: 50%;
  }
  .empty {
    width: 14.28%;
  }
.clsh{
  background-color: rgba(13, 13, 51, 0.56);
  margin: 1rem 0;
  border-radius: 20px;
  max-width: 30rem;
}
.clsh p{
  font-size: 12px;
  color: #fff;
  padding: 10px 15px;
}
.clsh span{
  color: #FFA100;
}
