*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Kanit&family=Konkhmer+Sleokchher&family=Prompt:wght@600&display=swap');
.features-daily{
    padding-left: 4rem;
    padding-right: 1rem;
    font-family: 'Josefin Sans';
    overflow: hidden;
    padding-bottom: 2rem;
}
@media screen  and (max-width: 767px){
        .first-daily img{
        position: relative;
        max-width: 100%;
        height: fit-content;
        margin-top: 2rem;
        }
        .image-second img{
            position: relative;
            max-width: 100%;
            height: fit-content;
            margin-top: 2rem;
        }
        .first-daily{
            max-height: 30vh;
        }
        .second-daily{
            max-height: 30vh;
        }
}

@media screen and (min-width: 768px){
    .features-daily{
        padding-left: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .features-daily .tl{
        font-size: 1.6vw;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .features-daily .move{
        font-size: 1.2vw;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .features-daily a{
        margin-top: 2rem;
        margin-left: 2rem;
        border-radius: 50%;
    }
    .features-column{
        flex-basis: 100%;
        /* display: flex;
        flex-direction: column; */
        
    }
    .first-daily{
        width: 80%;
        padding: 2rem;
    }
    .second-daily {
        width: 80%;
    }
    .second-daily a{
        font-size: 1vw;
    }
    .first-daily a{
        font-size: 1vw;
    }
    .third-daily {
        width: 80%;
    }
    .barchart img{
        filter: blur(50px);
    }
    .first-daily img{
    margin-top: 2rem;
    }
    .image-second img{
    margin-top: 2rem;
    }
}
.graphic img{
    position: relative;
    border-radius: 50%;
    width: 50px;
}
.greetings{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 1rem;
}
.plan{
    margin-left: 2rem;
    font-family: 'Josefin Sans';
    margin-top: 1rem;
}
.greetings h2{
    margin-left: 1rem;
    font-family: 'Josefin Sans';
}
.features-daily h6{
    margin-top: 2rem;
    font-family: 'Josefin Sans';
}
.first-daily{
    background-color: #ffa100;
    height: fit-content;
    border-radius: 30px;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}
.sd{
    display: flex;
}
.second-daily{
    background-color: #A64AC9;
    height: fit-content;
    border-radius: 30px;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    color: #fff;
    padding-bottom: 3rem;
    position: relative;
}
.third-daily{
    background-color: #43BEE5;
    height: fit-content;
    border-radius: 30px;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    color: #fff;
    position: relative;
    
}
.first-daily p{
    color: #fff;
}
.first-daily img{
    max-width: 100%;
    height: fit-content;
}
.image-second img{
    max-width: 100%;
    height: fit-content;
}
.barchart img{
    position: relative;
    max-width: 100%;
    filter: blur(1.5px);
}
.features-daily h6{
    color: #fff;
    font-size: 17px;
    margin: 0;
}
@media screen and (max-width: 358px){
    .first-daily img{
        position: relative;
        max-width: 100%;
        height: fit-content;
        margin-top: 2rem;
    }
    .image-second img{
        position: relative;
        max-width: 100%;
        height: fit-content;
        margin-top: 2rem;
    }
    .first-daily a{
        padding: 5px 5px;
        border-radius: 20px;
        background-color: #fff;
        color: #e99300;
        font-weight: 500;
        font-size: 12px;
    }
    .second-daily a{
        padding: 5px 5px;
        border-radius: 20px;
        background-color: #fff;
        color: #A64AC9;
        font-weight: 500;
        font-size: 12px;
        position: absolute;
    }
}
.image-first{
    display: flex;
    justify-content: right;
}
.image-second{
    display: flex;
    justify-content: right;
}
.move{
    font-size: 12px;
    font-weight: 400;
}
.first-daily a{
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #fff;
    color: #e99300;
    font-weight: 500;
}
.lrn{
    position: absolute;
    bottom: 5vh;
    width: 100%;
}
.second-daily a{
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #fff;
    color: #A64AC9;
    font-weight: 500;
}
.features-daily a:hover{
    background-color: #1A1A5C;
    color: #fff;
}