*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.daily-prog{
    padding-left: 4rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
.chart-container{
    background-color: #0D0D33;
    border-radius: 30px;
    max-width: 30rem;
    height: 20vh;
}
#myChart{
    padding: 10px;
}
.chart-title {
    color: red; /* change the color value to your desired color */
  }

#weightChart{
    padding: 10px;
}
.bmi-container{
    background-color: #0D0D33;
    color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    max-width: 30rem;
}
.bmi-container p{
    font-family: 'Poppins';
    font-weight: 400;
    padding: 20px;
}