*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ft-header{
    background: url(../images/ft-header.png);
    height: 50vh;
    max-width: 90%;
    background-size: cover;
    background-position: center;
    margin: 2% 5%;
    border-radius: 30px;
    padding: 1rem;
    color: #fff;
    margin-top: 1rem;
}
.fit-tracker{
    padding-left: 4rem;
    padding-right: 1rem;
}
.ft-header h3{
    font-size: 1.5rem;
    color: #fff;
}
.ft-header p{
    font-size: 12px;
}
.ft-text{
    width: 70%;
}
@media (min-width: 834px) {
    .ft-header h3{
        font-size: 4vw;
        max-width: 50rem;
    }
    .ft-header p{
        font-size: 1.5vw;
        max-width: 50rem;
    }
    .ft-header{
        padding-left: 3rem;
    }
}