@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.home{
    height: 100%;
    padding-bottom: 1rem;
}
.features-section{
  height: 100%;
  width: 100vw;
  overflow: hidden;
}
.calend{
  height: 1000vh;
  overflow: hidden;
}
